*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', 'sans-serif';
  background-color: #F3F6FC;
}

.container{
  width: 80%;
  margin: 120px auto;
  text-align: center;
  min-height: 90vh
}


p{
  margin-top: 20px;
  color: #0F2D5A;
}

span a{
  text-decoration: none;
  color: #0F2D5A;
  font-weight: 600;
}
span a:visited{
  color: #0F2D5A
}
footer{
  width: 80%;
  margin: 0 auto;
  font-size: 0.9em;
  text-align: center;
}
footer span{
  font-weight: 600
}




@media only screen and (min-width: 768px){
  div.container{
    margin-top: 200px;
    width: 60%
  }
}

@media only screen and (min-width: 1000px){
  div.container{
    width: 50%
  }

  div.container p{
    font-size: 1.2em;
  }
}